set input opts card-idx=0
set obe opts system-type=lowestlatency
set input opts smpte2038=1,scte35=1,vanc-cache=0,bitstream-audio=0,frame-injection=0,smpte2031=1
set input decklink
probe input
set stream opts 1:bitrate=256,format=mp2
#set stream opts 2:bitrate=256,format=mp2
#set stream opts 2:bitrate=256,format=mp2
#set stream opts 3:bitrate=256,format=ac3
#set stream opts 4:bitrate=256,format=ac3
#set stream opts 5:bitrate=256,format=ac3
#set stream opts 6:bitrate=256,format=ac3
#set stream opts 7:bitrate=256,format=ac3
#set stream opts 8:bitrate=256,format=ac3
#set stream opts 0:intra-refresh=1,vbv-maxrate=18200,bitrate=18299,threads=4,profile=baseline
set stream opts 0:intra-refresh=1,vbv-maxrate=18200,bitrate=18299,threads=4
set stream opts 11:ttx-type=subtitle,ttx-lang=eng,ttx-page=136,ttx-mag=7
set mux opts ts-muxrate=20000000,cbr=1,service-name=LTN Service,provider-name=LTN,ts-type=atsc
remove stream 8
remove stream 7
remove stream 6
remove stream 5
remove stream 4
remove stream 3
remove stream 2
set outputs 1
set output opts 0:type=udp,target=udp://227.1.20.45:4001?ttl=5
#set output opts 1:type=filets,target=avc-ll-20mb-2xmp2.ts
#set variable video_encoder.sei_timestamping = 1
#set variable codec.x265.nal_debug = 4
#set variable core.runtime_statistics_to_file = 2
#set variable filter.video.create_fullsize_jpg = 1
#set variable codec.audio.mp2.force_pmt_type_11172 = 1
# Enable captions debug
#set verbose 0x01
# Enable the VANC Receiver
#set variable vanc_receiver.udp_port = 14001
start

